body {
    background-color: #161F23;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.level-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.section-title {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

.section {
    text-align: left;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.input-box {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #1E2A30;
    color: white;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.button {
    background-color: white;
    color: #161F23;
    border: none;
    padding: 7.5px 15px; /* Reduced size by 25% */
    font-size: 16px; /* Reduced font size */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
    width: 112px; /* Reduced width by 25% */
    text-align: center;
    margin-bottom: 0px;
    text-decoration: none;
}

.button:hover {
    background-color: #ccc;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.home-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.level-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.level-table td {
    padding: 10px;
    text-align: left;
}

.level-table td:nth-child(1) {
    width: 16.66%; /* 1/6 */
}

.level-table td:nth-child(2) {
    width: 16.66%; /* 1/6 */
}

.level-table td:nth-child(3) {
    width: 66.66%; /* 4/6 */
}

.level-table td a.button {
    display: inline-block;
    width: 100px;
    text-align: center;
}
