<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adverbien</title>
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>

{% from "macros.html" import render_table_row %}

<body>
    <h1>Adverbien</h1>

    <div class="section">
        <h2>A1</h2>
        <table class="level-table">
            {{ render_table_row("adverbien", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 2, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="level-table">
            {{ render_table_row("adverbien", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 4, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="level-table">
            {{ render_table_row("adverbien", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 8, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="level-table">
            {{ render_table_row("adverbien", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 10, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 12, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("adverbien", 14, session, answered_questions, total_questions, score, description_templates) }}        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>
</body>
</html>