<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_page[exercise] }}</title>
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>
    <h1>{{ title_page[exercise] }}</h1>
    <h2 class="level-title">Level {{ level }}</h2>

    <p>All questions have been successfully answered!</p>
    <form action="{{ url_for('routes.reset_exercise', exercise=exercise, level=level) }}" method="post">
        <button type="submit" class="submit-button">Refresh</button>
    </form>

    <div class="back-button-container">
        <a href="{{ exercise_pages.get(exercise, '/') }}" class="back-button">Back to {{ back_page[exercise] }}</a>
    </div>
</body>
</html>
