<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_page[exercise] }}</title>
    <link rel="stylesheet" href="/webapp/static/style.css">
    <script>
        window.onload = function() {
            document.getElementById("answer")?.focus();
        };
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("answer")?.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("submit-button")?.click();
                }
            });
        });
    </script>
</head>
<body>
    <h1>{{ title_page[exercise] }}</h1>
    <h2 class="level-title">Level {{ level }}</h2>

    {% if question_text %}
        <p>{{ question_text | safe }}</p>
    {% endif %}

    <form action="{{ url_for('routes.check_answer', exercise=exercise, level=level) }}" method="post">
            <input type="text" id="answer" name="answer" class="input-box" placeholder="Enter answer here" autocomplete="off">
            <input type="hidden" name="nr" value="{{ nr }}">
            <br>
            <button type="submit" id="submit-button" class="submit-button">Submit</button>
    </form>

    <p class="question-count">
        <form action="{{ url_for('routes.reset_exercise', exercise=exercise, level=level) }}" method="post" class="refresh-form">
        {{ answered_questions }}/{{ total_questions }} <button type="submit" class="refresh-button" title="Reset progress">&#8634;</button>
        </form>
    </p>

    {% if result %}
    <div class="result">
        {% if result == 'correct' %}
            <p class="correct">Correct</p>
            {% if feedback_message %}
                <p>{{ feedback_message | safe }}</p>
            {% endif %}
        {% else %}
            <p class="incorrect">Incorrect</p>
            {% if feedback_message %}
                <p>{{ feedback_message | safe }}</p>
            {% endif %}
            <p>Your answer: {{ user_answer }}</p>
        {% endif %}
    </div>
    {% endif %}

    <p><br>{{ proverb | safe }}</p>

    <div class="back-button-container">
        <a href="{{ exercise_pages.get(exercise, '/') }}" class="back-button">Back to {{ title_page[exercise] }}</a>
    </div>
</body>
</html>
