<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sievers Study Hall – Practice German for Free</title>
    <meta name="description" content="Practice German with interactive exercises. Perfect your grammar and boost your language skills online for free.">
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">

    <script>
        if (sessionStorage.getItem("mode") === "day") {
            document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>
</head>
<body>

{% from "macros.html" import render_title %}
{% from "macros.html" import render_unit_table_row %}

    {{ render_title("Sievers Study Hall") }}

    <div class="section">
        <h2>Recent Updates</h2>
        <ul>
            <li>Important: I've created a <a href="https://sieversstudyhall.substack.com/p/substack-to-host-updates-and-news">blog</a> to centralize the communication to users, please have a read!</a></li>
            <li>User Interface: I've added a feature to flag errors inside exercises. It is present in the feedback container as a white flag. I will regularly monitor flagged questions.</a></li>
            <li>General: addition of an introduction for each exercise with advices, warnings, stories and more.</a></li>
            <li>Präpositionen: addition of the <a href="https://www.sieversstudyhall.com/praepositionen_adverbien">Präpositionen – Adverbien</a> exercise.</li>
            <li>Back-end: correction of an issue that prevented the progress to be saved after a few hours.</a></li>
            <li>General: Umlauts inputted using Unicode can now feed a correct answer.</li>
            <li>Artikel: Levels 1-10 are being hidden for "maintenance" (there are too many errors and I want to make a solid review before making them visible again).</li>
        </ul>

        Older updates are available <a href="https://www.sieversstudyhall.com/updates">here</a>.

    </div>

    <div class="section">
        <h2>Präpositionen</h2>
        <table class="unit-table">
            {{ render_unit_table_row("praepositionen_grammatik", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praepositionen_verben", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praepositionen_adjektive", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praepositionen_nomen", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praepositionen_adverbien", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
        </table>
    </div>

    <div class="section">
        <h2>Grammatik</h2>
        <table class="unit-table">
            {{ render_unit_table_row("artikel", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("pronomen", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("konnektoren", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("fragen", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("adverbien", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("adjektivdeklinationen", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
        </table>
    </div>

    <div class="section">
        <h2>Konjugation</h2>
        <table class="unit-table">
            {{ render_unit_table_row("praesens", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("partizip_II", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praeteritum", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("praeteritum_partizip_II", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("imperativ", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("konjunktiv_II", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("konjunktiv_I", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("partizip_I", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
        </table>
    </div>

    <div class="section">
        <h2>Verben</h2>
        <table class="unit-table">
            {{ render_unit_table_row("trennbare_verben", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
            {{ render_unit_table_row("verben", session, answered_questions, total_questions, score, title_page, unit_page, explanation) }}
        </table>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>