{% macro header() %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">

    <script>
        if (localStorage.getItem("mode") === "day") {
          document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endmacro %}

{% macro render_exercise_table_row(unit, exercise, session, answered_questions, total_questions, score, description_templates) %}
    <tr>
        <td><a href="/guidance/unit/{{ unit }}/exercise/{{ exercise }}" class="button">Exercise {{ exercise }}</a></td>
        <td>{{ answered_questions(session, unit, exercise=exercise) }}/{{ total_questions(unit, exercise=exercise) }}</td>
        <td>
            <span title="Your score for Exercise {{ exercise }}">{{ score(session, unit, exercise=exercise) }}</span>
        </td>
        <td>{{ description_templates[unit].get(exercise, "") | safe }}</td>
    </tr>
{% endmacro %}

{% macro render_unit_table_row(unit, session, answered_questions, total_questions, score, title_page, unit_page, explanation, unit_stars) %}
    <tr>
        <td><a href="{{ unit_page[unit] }}" class="button">{{ title_page[unit] }}</a></td>
        <td>{{ unit_stars[unit] }}</td>
        <td>{{ answered_questions(session, unit) }}/{{ total_questions(unit) }}</td>
        <td>
            <span title="Your score for Unit {{ title_page[unit] }}">{{ score(session, unit) }}</span>
        </td>
        <td></td>
    </tr>
{% endmacro %}

{% macro render_title(title) %}
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 0px;">
        <a href="/" style="flex-shrink: 0;">
            <img src="/webapp/static/logo.png" alt="Logo" style="height: 75px;">
        </a>
        <h1 style="flex-grow: 1; text-align: center; margin: 0;">{{title}}</h1>
        <div style="width: 75px;"></div> <!-- Spacer to balance the logo -->
    </div>

    <div class="hamburger-container">
        <button class="hamburger" onclick="toggleMenu()">☰</button>
        <div id="menu" class="menu">
            <a href="/">Home</a>
            <a href="/settings">Settings</a>
            <a href="https://sieversstudyhall.substack.com/p/faq" target="_blank">FAQ <i class="material-icons">open_in_new</i></a>
            <a href="https://sieversstudyhall.substack.com/p/updates" target="_blank">Updates <i class="material-icons">open_in_new</i></a>
            <a href="https://sieversstudyhall.substack.com/p/credits" target="_blank">Credits <i class="material-icons">open_in_new</i></a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <script>
    function toggleMenu() {
        var menu = document.getElementById('menu');
        menu.classList.toggle('show');
    }
    </script>
{% endmacro %}

{% macro render_feedback(unit, exercise, is_feedback_box, result, feedback_message, user_answer) %}

    {% if is_feedback_box and result %}
        {% if result == 'correct' %}
            <div class='feedback-correct-container'>
                <p class="correct">Correct</p>
                {% if feedback_message %}
                    <p class="feedback-message">{{ feedback_message | safe }}</p>
                {% endif %}

                <div class="flag-form-container">
                    <form action="{{ url_for('routes.flag_question', unit=unit, exercise=exercise, feedback_message=feedback_message, user_answer=user_answer, result='Correct') }}" method="post" class="flag-form">
                        <button type="submit" class="flag-button" title="Flag this answer as having an error">&#127987;</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class='feedback-incorrect-container'>
                <p class="incorrect">Incorrect</p>
                {% if feedback_message %}
                    <p class="feedback-message">{{ feedback_message | safe }}</p>
                {% endif %}
                <p class="feedback-message">Your answer: {{ user_answer }}</p>

                <div class="flag-form-container">
                    <form action="{{ url_for('routes.flag_question', unit=unit, exercise=exercise, feedback_message=feedback_message, user_answer=user_answer, result='Incorrect') }}" method="post" class="flag-form">
                        <button type="submit" class="flag-button" title="Flag this answer as having an error">&#127987;</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endmacro %}