<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronomen</title>
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>
    <h1>Pronomen</h1>

    <div class="section">
        <h2>A1</h2>
        <table class="level-table">
            <tr>
                <td><a href="/exercise/pronomen/level/1" class="button">Level 1</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 1, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 1) }}</td>
                <td>{{ description_templates['pronomen'].get(1, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/2" class="button">Level 2</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 2, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 2) }}</td>
                <td>{{ description_templates['pronomen'].get(2, "") }}</td>
            </tr>
                        <tr>
                <td><a href="/exercise/pronomen/level/3" class="button">Level 3</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 3, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 3) }}</td>
                <td>{{ description_templates['pronomen'].get(3, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/4" class="button">Level 4</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 4, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 4) }}</td>
                <td>{{ description_templates['pronomen'].get(4, "") }}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="level-table">
            <tr>
                <td><a href="/exercise/pronomen/level/5" class="button">Level 5</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 5, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 5) }}</td>
                <td>{{ description_templates['pronomen'].get(5, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/6" class="button">Level 6</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 6, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 6) }}</td>
                <td>{{ description_templates['pronomen'].get(6, "") }}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="level-table">
            <tr>
                <td><a href="/exercise/pronomen/level/7" class="button">Level 7</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 7, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 7) }}</td>
                <td>{{ description_templates['pronomen'].get(7, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/8" class="button">Level 8</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 8, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 8) }}</td>
                <td>{{ description_templates['pronomen'].get(8, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/9" class="button">Level 9</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 9, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 9) }}</td>
                <td>{{ description_templates['pronomen'].get(9, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/10" class="button">Level 10</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 10, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 10) }}</td>
                <td>{{ description_templates['pronomen'].get(10, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/11" class="button">Level 11</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 1, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 11) }}</td>
                <td>{{ description_templates['pronomen'].get(11, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/12" class="button">Level 12</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 12, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 12) }}</td>
                <td>{{ description_templates['pronomen'].get(12, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/13" class="button">Level 13</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 13, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 13) }}</td>
                <td>{{ description_templates['pronomen'].get(13, "") }}</td>
            </tr>
            <tr>
                <td><a href="/exercise/pronomen/level/14" class="button">Level 14</a></td>
                <td>{{ answered_questions_by_exercise_and_level('pronomen', 14, session) }}/{{ total_questions_by_exercise_and_level('pronomen', 14) }}</td>
                <td>{{ description_templates['pronomen'].get(14, "") }}</td>
            </tr>
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>
</body>
</html>