<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Un)trennbare Verben</title>
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>

{% from "macros.html" import render_table_row %}

<body>
    <h1>(Un)trennbare Verben (Beta)</h1>

    <div class="section">
        <h2>A2</h2>
        <table class="level-table">
            {{ render_table_row("trennbare_verben", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 2, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="level-table">
            {{ render_table_row("trennbare_verben", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 4, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 6, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="level-table">
            {{ render_table_row("trennbare_verben", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 8, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_table_row("trennbare_verben", 10, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>
</body>
</html>