<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ unit_name }} – Practice German Grammar for Free</title>
    <meta name="description" content="{{ meta_description }}">
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/unit.css', v='2026-09-19-1') }}">
</head>

{% from "macros/render_title.html" import render_title with context %}
{% from "macros/unit.html" import render_exercise_table_row %}
{% from "macros/unit.html" import render_exercise_empty_row %}
{% from "macros/button.html" import display_button %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">

    {{ render_title(unit_name) }}

    <div class="section section-no-table">
        <div class="section-header">
            <h2>Introduction</h2>
        </div>

        <div class="section-content">
            {{ introduction | safe }}
        </div>
    </div>

    {% for level in levels %}
        {% set exercises = exercises_by_level[level] %}

        {% if exercises is not none %}
            <div class="section">

                <div class="section-header">
                    <h2 id="{{ level }}">{{ level }}</h2>
                    {{ display_button() }}
                </div>

                <div class="section-content">
                    <table class="exercise-table">
                        {% for row in exercises.itertuples() %}

                            {{ render_exercise_table_row(
                                row.unit,
                                row.exercise,
                                session,
                                answered_questions,
                                total_questions,
                                score,
                                description_templates,
                                is_exercise_started,
                                language,
                                format_description,
                                format_information_icon,
                                format_information_text
                            ) }}

                            {% if (row.unit, row.exercise) in separations %}
                                {{ render_exercise_empty_row() }}
                            {% endif %}

                        {% endfor %}
                    </table>
                </div>

            </div>
        {% endif %}
    {% endfor %}

    <div class="home-button-container">
        <a href="/" class="button">{{ homepage }}</a>
    </div>

    <script src="{{ url_for('static', filename='js/menu/resetExercise.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/menu/toggleSection.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/menu/clickRowLinkUnit.js') }}" defer></script>

</body>
</html>