<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("Updates") }}

    <div class="section">
        <h2>May 12, 2025</h2>
        <ul>
            <li>Addition of the Präteritum + Partizip II exercise under Konjugation</li>
            <li>Addition of the Updates page</li>
        </ul>
    </div>


</body>
</html>