<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imperativ – Practice German Imperative for Free</title>
    <meta name="description" content="Practice German Imperative. Perfect your grammar and boost your language skills online for free.">
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.jpg">

    <script>
        if (sessionStorage.getItem("mode") === "day") {
            document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>
</head>

{% from "macros.html" import render_exercise_table_row %}
{% from "macros.html" import render_title %}

<body>
    {{ render_title("Imperativ") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>A1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("imperativ", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("imperativ", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("imperativ", 3, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("imperativ", 4, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("imperativ", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("imperativ", 6, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>