<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("Contact") }}

    <div class="section">
        <p>Questions? Comments? Just want to say thank you? Send me an email at: cbjcamus@gmail.com</p>
    </div>


</body>
</html>