<!DOCTYPE html>
<html lang="de">
<head>
    <title>Contact</title>
    {% from "macros.html" import header %}
    {{ header() }}
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("Contact") }}

    <div class="section">
        <p>Questions? Comments? Just want to say thank you? Send me an email at: sieversstudyhall@gmail.com</p>
        <p>You can also contact me through my blog on substack: https://sieversstudyhall.substack.com/</p>
    </div>

    <script src="/webapp/static/toggleDayMode.js"></script>
</body>
</html>