<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("Credits") }}

    <div class="section">
        <p>Thanks to reddit user <a href="https://www.reddit.com/user/lubricated-horse/">lubricated-horse</a> for a list of verbs sorted by frequency: <a href="https://www.reddit.com/r/German/comments/6gbcnv/500_verbs_sorted_by_frequency_from_tv/">link</a>.</p>
        <p>Thanks to reddit user <a href="https://www.reddit.com/r/German/comments/og7e7s/update_heres_the_transcript_of_the_1781_mostused/">Tubbiefox</a> for a list of adverbs, adjectives and verbs listed by frequency: <a href="https://docs.google.com/spreadsheets/d/1r9HwvVpo35MFxnJ_5W6RKlDfx5VzmQVcnpJTgrNUY9I/edit?gid=1814339112#gid=1814339112">link</a>.</p>
        <p>Thanks to Emanuel from <a href="https://yourdailygerman.com/">YourDailyGerman</a> for the valuable feedback.</p>
        <p>German proverbs come from <a href="https://en.wikiquote.org/wiki/German_proverbs">Wikiquote</a>.</p><br>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>