<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("FAQ") }}

    <div class="section">
        <h2>What's the point of the app?</h2>
        <p>
            The app is designed to practice your German grammar and conjugation through isolated exercises. <br>
            Each exercise aims at practicing one particular competency such as A2 connectors, B1 prepositions, Partizip II etc. <br>
            Through this isolated practice, you'll be able to apply these competencies with more ease while writing and speaking. <br>
            The app is NOT designed to replace your current course (teacher, books, apps etc.). <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>How to best use the app?</h2>
        <p>
            You should be following a course with a teacher, with a book or with another app and aiming at a particular level (A1, A2 etc.). <br>
            Practice the material you've already discovered by doing the exercises that fit your level. <br>
            Do not practice too many exercises at the same time; practice up to 3 exercises and 30 minutes a day regularly. <br>
            Feel free to use external help while doing the exercises such as declension tables and dictionaries. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Do you provide any learning material?</h2>
        <p>
            No I don't. Plenty of learning material already exist online and offline, made by people far more experienced and knowledgeable than me. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Is it free?</h2>
        <p>
            Yes, 100% free. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Is it open source?</h2>
        <p>
            Yes, you can find the repo <a href="https://github.com/cbjcamus/Sievers-Study-Hall">here</a>. <br>
            You can run the app locally using the local.py file. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>What do the "XX%" mean?</h2>
        <p>
            Percentages show your score for a particular level. Scores are then aggregated for each exercise. <br>
            Below 60%, I highly recommend you read again the theory. <br>
            Between 60% and 85%, practice again after a good night's sleep. <br>
            Above 85%, you have a good grasp of the material. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Can I do an exercise and level multiple times?</h2>
        <p>
            Yes. Once you finish a level, you can click on the Refresh button to reinitialize it. It will also reinitialize the score. <br>
            You can also refresh a level before finishing it by clicking on the white circular arrow (&#8634;) next to the progress inside the level. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>I have an idea for a new exercise / Will you add exercise X in the future?</h2>
        <p>
            Send me an email. Depending on the demand, use, and feasibility I may add new exercises. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>I think I've noticed an error in an exercise.</h2>
        <p>
            Send me an email with a screenshot and an explanation of the error. If there's indeed an error I'll correct it for the next update. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Where is my progress stored?</h2>
        <p>
            Progress is stored on pythonanywhere's servers. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Why has my progress been erased?</h2>
        <p>
            Your progress has likely been saved, but its retrieval is based on a session ID saved by your browser in a cookie. If you use a VPN, or if you use a browser that has protection against cookies, your progress cannot be retrieved. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>I use this app on multiple devices (phone, computer, tablet etc.). Is there a way to share the progress on multiple devices?</h2>
        <p>
            Unfortunately not. The progress is stored individually for each device. <br>
            I do not wish to create logins and accounts for users as I do not wish to store email addresses and other personal data. <br>
            <br>
        </p>
    </div>

    <div class="section">
        <h2>Is there a way to contribute?</h2>
        <p>
            Yes! You can "buy me a coffee" here: <a href="https://buymeacoffee.com/cbjcamus">buymeacoffee.com/cbjcamus</a>.<br>
            By doing so you decline any right to know what I'm doing with the money.<br>
        </p>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>