<!DOCTYPE html>
<html lang="en">
<head>
    <title>Progress – Practice German for Free</title>
    <meta name="description" content="Practice German with interactive exercises. Perfect your grammar and boost your language skills online for free.">
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body class="{{ 'day-mode' if is_day_mode else '' }}">

{% from "macros/render_title.html" import render_title with context %}
{% from "macros/render_feedback.html" import render_feedback %}

    {{ render_title("Progress – Beta") }}

    <div class="section">
        <h2>Progress</h2>
        <table class="progress-table">
            {% for level in levels %}
                <tr>
                    <td>
                        <a href="/guidance/unit/{{ random_unit_exercise[level][0] }}/exercise/{{ random_unit_exercise[level][1] }}" class="button">Random {{ level }} exercise</a>
                    </td>
                    <td>You've completed {{ fractions[level] }}% of {{ level }} exercises</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section">
        <h2>Unfinished Exercises</h2>
        <table class="progress-table">
            {% for (unit, exercise) in unfinished_exercises %}
                <tr>
                    <td>
                        <a href="/guidance/unit/{{ unit }}/exercise/{{ exercise }}" class="button">{{ title_page[unit] }} {{ exercise }}</a>
                    </td>
                    <td>{{ get_level_from_exercise(unit, exercise) }}</td>
                    <td>
                        {{ answered_questions(session, unit, exercise=exercise) }}/{{ total_questions[unit][exercise] }}
                    </td>
                    <td>
                        {% if is_exercise_started(session, unit, exercise) %}
                            <form action="{{ url_for('routes.reset_exercise', unit=unit, exercise=exercise) }}" method="post" class="refresh-form">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="refresh-button" title="Reset progress">&#8634;</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <span title="Your score for Exercise {{ exercise }}">{{ score(session, unit, exercise=exercise) }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if current_user.is_authenticated %}
    <div class="section">
        <h2>Exercises with the lowest Score</h2>
        <table class="progress-table">
            {% for (unit, exercise, score_) in lowest_score_exercises %}
                <tr>
                    <td>
                        <a href="/guidance/unit/{{ unit }}/exercise/{{ exercise }}" class="button">{{ title_page[unit] }} {{ exercise }}</a>
                    </td>
                    <td>{{ get_level_from_exercise(unit, exercise) }}</td>
                    <td>
                        {{ answered_questions(session, unit, exercise=exercise) }}/{{ total_questions[unit][exercise] }}
                    </td>
                    <td>
                        {% if is_exercise_started(session, unit, exercise) %}
                            <form action="{{ url_for('routes.reset_exercise', unit=unit, exercise=exercise) }}" method="post" class="refresh-form">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="refresh-button" title="Reset progress">&#8634;</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <span title="Your score for Exercise {{ exercise }}">{{ score(session, unit, exercise=exercise) }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

</body>
</html>