<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <script>
        if (sessionStorage.getItem("mode") === "day") {
            document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>
</head>
<body>

{% from "macros.html" import render_title %}

    {{ render_title("Settings") }}

    <div class="section">
        <h2>Theme</h2>
        <button id="mode-toggle">Switch to Day Mode</button>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>