<!DOCTYPE html>
<html lang="de">
<head>
    <title>Paramètres</title>
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
</head>
<body class="{{ 'day-mode' if is_day_mode else '' }}">

{% from "macros/render_title.html" import render_title with context %}

    {{ render_title("Paramètres") }}

    <div class="section">
        <h2>Thème</h2>
        <table class="settings-table">
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="mode-toggle">
                        <span class="slider"></span>
                    </label>
                </td>
                <td>Mode jour</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>Page de feedback intermédiaire</h2>
        <table class="settings-table">
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="intermediate-feedback-page-toggle">
                        <span class="slider"></span>
                    </label>
                </td>
                <td>Ajouter une page de feedback intermédiaire après avoir soumis une réponse</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>Compte</h2>
        <p>Vous êtes connecté avec l'adresse email suivante : {{ email }}</p>

        <p>
            <form method="post" action="{{ url_for('routes.signout') }}">
                <button type="submit" class="button">Se déconnecter</button>
            </form>
        </p>

    </div>

    <div class="section">
        <h2>Actualités et Mises à jour</h2>

        <p>Pour recevoir les actualités et rester au courant des mises à jour, inscrivez-vous à la newsletter Substack.</p>

            <p>
              <a href="https://sieversstudyhall.substack.com/subscribe"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="button">
                S'inscrire à la newsletter
              </a>
            </p>
    </div>

    <script src="{{ url_for('static', filename='js/toggleDayMode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggleIntermediatePage.js') }}"></script>
</body>
</html>