<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates</title>
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">
    <link rel="stylesheet" href="/webapp/static/style.css">
</head>

<body>

    {% from "macros.html" import render_title %}

    {{ render_title("Updates") }}

    <div class="section">
        <h2>June 3, 2025</h2>
        <ul>
            <li>General: Umlauts inputted using Unicode will now feed a correct answer.</li>
            <li>General: Correction in many exercises on contractions such as "am" and "zur" which were written as "an dem" and "zu der". Prepositions may still be written in the "uncontracted" form in Artikel when the goal of the level is to practice the accusative vs. dative vs. genitive after prepositions.</li>
            <li>User Interface: When completing an exercise, the score will appear above the "Back to 'Exercise'" button.</li>
            <li>Verben: Levels 7 and above (B1 and B2) have been removed.</li>
            <li>Artikel: Levels 1-10 are being hidden for "maintenance" (there are too many errors and I want to make a solid review before making them visible again).</li>
        </ul>
    </div>

    <div class="section">
        <h2>May 29, 2025</h2>
        <ul>
            <li>Addition of exercises in <a href="https://www.sieversstudyhall.com/pronomen">Pronomen</a></li>
        </ul>
    </div>

    <div class="section">
        <h2>May 20, 2025</h2>
        <ul>
            <li>Update of the User Interface</li>
            <li>Addition of exercises in <a href="https://www.sieversstudyhall.com/artikel">Artikel</a></li>
            <li>Correction of an error in the Präsens exercises</li>
            <li>Correction of an error in the Präpositionen – Adjektive exercises</li>
            <li>Correction of a back-end error that prevented the session from saving individual progress</li>
        </ul>
    </div>

    <div class="section">
        <h2>May 14, 2025</h2>
        <ul>
            <li>Addition of the <a href="https://www.sieversstudyhall.com/fragen">Fragen</a>  exercise under Grammatik</li>
            <li>Moved B2 Artikel exercises to C1</li>
        </ul>
    </div>

    <div class="section">
        <h2>May 12, 2025</h2>
        <ul>
            <li>Addition of the <a href="https://www.sieversstudyhall.com/praeteritum_partizip_II">Präteritum + Partizip II</a> exercise under Konjugation</li>
            <li>Addition of the Updates page</li>
        </ul>
    </div>

</body>
</html>