<!DOCTYPE html>
<html lang="de">
<head>
    <title>(Un)trennbare Verben – Practice German Trennbare Verbs for Free</title>
    <meta name="description" content="Practice German Trennbare Verbs. Perfect your grammar and boost your language skills online for free.">
    {% from "macros.html" import header %}
    {{ header() }}
</head>

{% from "macros.html" import render_exercise_table_row %}
{% from "macros.html" import render_title %}

<body>
    {{ render_title("(Un)trennbare Verben") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>A1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("trennbare_verben", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 2, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("trennbare_verben", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 4, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("trennbare_verben", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 8, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("trennbare_verben", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 10, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 12, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("trennbare_verben", 14, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>

    <script src="/webapp/static/toggleDayMode.js"></script>
</body>
</html>