{% macro header() %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.png">

    <script>
        if (localStorage.getItem("mode") === "day") {
          document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css?v=2025-12-17-1">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css', v='2025-12-17-1') }}">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endmacro %}