<!DOCTYPE html>
<html lang="de">
<head>
    <title>Präpositionen – Adjektive – Practice German Prepositions for Free</title>
    <meta name="description" content="Practice German Prepositions. Perfect your grammar and boost your language skills online for free.">
    {% from "macros.html" import header %}
    {{ header() }}
</head>

{% from "macros.html" import render_title with context %}
{% from "macros.html" import render_exercise_table_row %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">
    {{ render_title("Präpositionen – Adjektive") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_adjektive", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 4, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_adjektive", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 8, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 10, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>C1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_adjektive", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 12, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 14, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 15, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 16, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 17, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_adjektive", 18, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">{{ homepage }}</a>
    </div>

    <script src="/webapp/static/toggleDayMode.js"></script>
</body>
</html>