<!DOCTYPE html>
<html lang="de">
<head>
    <title>Präpositionen – Nomen – Practice German Prepositions for Free</title>
    <meta name="description" content="Practice German Prepositions. Perfect your grammar and boost your language skills online for free.">
    {% from "macros.html" import header %}
    {{ header() }}
</head>

{% from "macros.html" import render_title with context %}
{% from "macros.html" import render_exercise_table_row %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">
    {{ render_title("Präpositionen – Nomen") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_nomen", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 4, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_nomen", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 8, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 10, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>C1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("praepositionen_nomen", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 12, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 14, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 15, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("praepositionen_nomen", 16, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>

    <script src="/webapp/static/toggleDayMode.js"></script>
</body>
</html>