<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title_page[unit] }} – Practice German for Free</title>
    <meta name="description" content="Practice German with interactive exercises. Perfect your grammar and boost your language skills online for free.">
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercise.css') }}">
</head>

{% from "macros/render_title.html" import render_title with context %}
{% from "macros/render_feedback.html" import render_feedback %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">

    {{ render_title(title_page[unit]) }}

    <h2 class="exercise-title">{{ exercise_title }} {{ exercise }}</h2>

    <p>{{ all_questions_successfully_answered }}<br><br>
    {{ your_score_for_this_exercise }} {{ score(session, unit, exercise=exercise) }}.</p>

    {% if feedback_message is not none %}
        <p>{{ feedback_last_question }}</p>
    {% endif %}

    {{ render_feedback(
        unit=unit,
        exercise=exercise,
        is_feedback_box=is_feedback_box,
        result=result,
        feedback_message=feedback_message,
        your_answer=your_answer,
        user_answer=user_answer,
        incorrect_question=get_question_from_incorrect_answer(unit, exercise, result, user_answer),
        current_user=current_user,
        force_full_bookmark=False,
        icon_full=icon_full,
        icon_empty=icon_empty,
    ) }}

    <div class="next-exercise-button-container">
        <a href="{{ '/guidance/unit/{}/exercise/{}'.format(unit, next_exercise) if next_exercise is not none else unit_page.get(unit, '/') }}"
           class="next-exercise-button">
            {{ next_exercise_text }} →
        </a>
    </div>

    {% if number_of_incorrect_answers > 0 %}
        <p>{{ your_incorrect_answers }}</p>

        {% for i in range(number_of_incorrect_answers) %}
            <div class="feedback-incorrect-container">
                <p>{{ feedbacks[i] | safe }}</p>
                <p>{{ your_answer }} {{ incorrect_answers[i] | safe }} {{ incorrect_questions[i] | safe }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <form action="{{ url_for('routes.reset_exercise', unit=unit, exercise=exercise) }}" method="post">
            <button type="submit" class="submit-button">{{ refresh }} &#8634;</button>
            <input type="hidden" name="guidance" value="true">
        </form>
    </div><br>

    <div>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="sieversstudyhall" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </div><br>

    <div class="back-button-container">
        <a href="{{ unit_page.get(unit, '/') }}" class="back-button">{{ back_to }} {{ back_page[unit] }} ↩</a>
    </div>

</body>
</html>
