<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ unit_name }} – Practice German Grammar for Free</title>
    <meta name="description" content="Practice German with interactive exercises. Perfect your grammar and boost your language skills online for free.">
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/exercise.css', v='2026-06-29-1') }}">
</head>

{% from "macros/render_title.html" import render_title with context %}
{% from "macros/button.html" import display_back_button %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">
<div class="exercise-page">

    {{ render_title(unit_name) }}
    <h2 class="exercise-title">{{ exercise_title }} {{ exercise }}</h2>

    <div class="guidance-container">

        <h2>Instruction</h2>

        <p>{{ guidance | safe }}</p>

        <h2>{{ additional_help | safe }}</h2>

        <p>{{ consult_faq | safe }}</p>

        <div class="next-button-container">
            <a href="{{ url_for('routes.exercise_page', unit=unit, exercise=exercise) }}"
               class="next-question-button">{{ next }}</a>
        </div>

        <script src="{{ url_for('static', filename='js/exercise/enterNextQuestionButton.js') }}" defer></script>

    </div>

    <div class="question-count">
        <form action="{{ url_for('routes.reset_exercise', unit=unit, exercise=exercise) }}" method="post" class="refresh-form">
            {{ answered_questions }}/{{ total_questions }} <button type="submit" class="refresh-button" title="Reset progress">&#8634;</button>
            <input type="hidden" name="guidance" value="true">
        </form>
    </div>

    {{ display_back_button(unit_url_path, level_exercise, back_to, unit_name) }}

</div>
</body>
</html>
