<!DOCTYPE html>
<html lang="de">
<head>
    <title>Konjunktiv I – Practice German Subjunctive for Free</title>
    <meta name="description" content="{{ meta_description }}">
    {% from "macros/header.html" import header %}
    {{ header() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/unit.css') }}">
</head>

{% from "macros/render_title.html" import render_title with context %}
{% from "macros/unit.html" import render_exercise_table_row %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">

    {{ render_title("Konjunktiv I") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>B2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("konjunktiv_I", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("konjunktiv_I", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("konjunktiv_I", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("konjunktiv_I", 4, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("konjunktiv_I", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("konjunktiv_I", 6, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">{{ homepage }}</a>
    </div>

</body>
</html>