<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel – Practice German Articles for Free</title>
    <meta name="description" content="Practice German Articles. Perfect your grammar and boost your language skills online for free.">
    <link rel="icon" type="image/jpeg" href="/webapp/static/logo_fav.jpg">

    <script>
        if (localStorage.getItem("mode") === "day") {
          document.documentElement.classList.add("day-mode");
        }
    </script>

    <style>
        body {
            visibility: hidden;
        }
        body.day-mode {
            background-color: #deedfa;
            color: black;
        }
    </style>

    <link rel="stylesheet" href="/webapp/static/style.css">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.body.style.visibility = 'visible';
        });
    </script>
</head>

{% from "macros.html" import render_exercise_table_row %}
{% from "macros.html" import render_title %}

<body>
    {{ render_title("Artikel") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>A1</h2>
        <table class="exercise-table">
            <!--{{ render_exercise_table_row("artikel", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 4, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 8, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 10, session, answered_questions, total_questions, score, description_templates) }}-->
            {{ render_exercise_table_row("artikel", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 12, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 14, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 15, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 16, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("artikel", 17, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 18, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 19, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 20, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 21, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 22, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 23, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 24, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("artikel", 25, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 26, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 27, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 28, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 29, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 30, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>C1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("artikel", 31, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("artikel", 32, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>

    <script src="/webapp/static/toggleMode.js"></script>
</body>
</html>