<!DOCTYPE html>
<html lang="de">
<head>
    <title>Adjektive – Practice German Adjective Declension for Free</title>
    <meta name="description" content="Practice German Adjectives. Perfect your grammar and boost your language skills online for free.">
    {% from "macros.html" import header %}
    {{ header() }}
</head>

{% from "macros.html" import render_title with context %}
{% from "macros.html" import render_exercise_table_row %}

<body class="{{ 'day-mode' if is_day_mode else '' }}">

    {{ render_title("Adjektive") }}

    <div class="section">
        <h2>Introduction</h2>
        {{ introduction | safe }}
    </div>

    <div class="section">
        <h2>A1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("adjektive", 1, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 2, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 3, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 4, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 5, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 6, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 7, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 8, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 9, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 10, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 11, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 12, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>A2</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("adjektive", 13, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 14, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 15, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 16, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 17, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 18, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 19, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 20, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 21, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 22, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 23, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="section">
        <h2>B1</h2>
        <table class="exercise-table">
            {{ render_exercise_table_row("adjektive", 24, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 25, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 26, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 27, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 28, session, answered_questions, total_questions, score, description_templates) }}
            {{ render_exercise_table_row("adjektive", 29, session, answered_questions, total_questions, score, description_templates) }}
        </table>
    </div>

    <div class="home-button-container">
        <a href="/" class="button">Home</a>
    </div>

    <script src="/webapp/static/toggleDayMode.js"></script>
</body>
</html>