.unit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -10px;
    margin-left: -10px;
}

.unit-table td {
    padding: 10px;
    text-align: left;
}

.unit-table td:nth-child(1) {
    width: 20%;
}

.unit-table td:nth-child(2) {
    width: 3%;
}

.unit-table td:nth-child(3) {
    width: 7%;
}

.unit-table td:nth-child(4) {
    width: 70%;
}

.unit-table td a.button {
    display: inline-block;
    width: 90%;
    max-width: 180px;
    min-width: 90px;
    hyphens: auto;
    /* width: 180px; */
    text-align: center;
}