.exercise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -10px;
    margin-left: -10px;
}

.exercise-table td {
    padding: 10px 5px;
    text-align: left;
}

.exercise-table td:nth-child(1) {
    width: 15%;
}

.exercise-table td:nth-child(2) {
    width: 5%;
}

.exercise-table td:nth-child(3) {
    width: 5%;
    text-align: left;
}

.exercise-table td:nth-child(4) {
    width: 5%;
}

.exercise-table td:nth-child(5) {
    width: 60%;
}

.exercise-table td a.button {
    display: inline-block;
    width: 90px;
    text-align: center;
}

@media (max-width: 768px) {
    .exercise-table td a.button {
        width: 70px;
    }
}

.button {
    background-color: white;
    color: #161F23;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .button {
        font-size: 13px;
    }
}

body.day-mode .button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.button:hover {
    background-color: #ccc;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
